/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .header-area .main-header {
        padding-top: 40px !important;
        padding-bottom: 21px;
    }

 
}
 
/* Large Mobile :480px. */
@media (min-width: 220px) and (max-width: 640px) {
.container {width:450px}
img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}
.cat-icon img{
    width: 100% !important;
}
.header-area .main-header {
   display: none !important;
}
}